<html>
<link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
<title>Главная</title>   
	<head>
       
	   <meta charset="utf-8">
	   
	   <style>
	 
		h1 { 
			font-family: helvetica;
			}
		h2 {
			font-family: helvetica;
			}
			
		.jumbotron {
			font-family: helvetica;
			background-color: green;
			height: 30%;
			padding: 10px;
			margin: 0px
			}
		div {
			padding-top: 0px;
			padding-right: 20px;
			padding-bottom: 0px;
			padding-left: 20px;
			}
			
			
		</style>
	   
	   <div class="jumbotron" style="background-color: #ffcf40;">
		  <center><h1 style="font-size:350%;">Анкета для лексико-типологического исследования<h1>
			<h2> <small style="font-size:150%;">Жесты</small></h2></center>
		</div>

<b>		
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Меню</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://127.0.0.1:5000/">Главная <span class="sr-only">(current)</span></a></li>
        <li><a href="http://127.0.0.1:5000/questions">Анкета</a></li>
		<li><a href="http://127.0.0.1:5000/stats">Статистика</a></li>
		<li><a href="http://127.0.0.1:5000/json">JSON</a></li>
		<li><a href="http://127.0.0.1:5000/search">Поиск</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</b>       
</head>
  
<body>

<div class="page-header">
	<h2>Зачем все это нужно?</h2>
		<p></p>
		<span style="font-size:120%;"><p> Мне просто нужно сдать прогу и лекстип, да. Анкета маленькая, но зато я попыталась в потрясающую воображение вёрстку.</p>
		<p> К слову, анкета, наверное, будет пополняться. Или нет. Не знаю, как пойдет. </p></span>
		<p></p>
</div>
		
<div class="page-header">
	<h2>Краткий FAQ:</h2>
		<span style="font-size:120%;"><p>Еще раз: анкета ни разу не идеальна и будет дорабатываться, но пока я хотя бы попытаюсь объяснить, как её заполнять.</p>
		<p>Итак, правила:</p></span>
		<span style="font-size:120%;">
			<ul>
				<li>В поле <b>"Название жеста"</b> напишите то, как в вашем языке называется жест, представленный на картинке. Например, если вы пытаетесь описать положение, в котором находился гопник Игорь, встретившийся вам вчера на Черкизовском рынке, напишите "сидеть на корточках". </li>
				<p></p>
				<li>В поле <b>"Буквальное значение"</b> попытайтесь буквально истолковать название жеста. Например, для жеста "сидеть нога на ногу" вы можете написать что-то в духе "сидеть, положив одну ногу на другую".</li>
				<p></p>
				<li>В поле <b>"Пример употребления буквального значения"</b> приведите пример использования главного из слов в названии жеста в другом контексте. Например, для жеста "раздвинуть ноги" вы можете привести пример "раздвинуть шторы".</li>
			</ul>
		</span>
</div>

<div class="page-header">
	<h2>Давайте начнем?</h2>
		<p></p>
		<p></p>
		<button type="button" class="btn btn-default btn-lg">
		<span class="glyphicon" aria-hidden="true" style="color:black;"></span><a href="http://127.0.0.1:5000/questions">Приступить к анкете</a>
		</button>
</div>

 </body>
 </html>