<html>
<link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
<title>Англо-тайский словарь</title>    
	<head>
       
	   <meta charset="utf-8">
	   
	   	<style>
		
		div {
			padding-top: 0px;
			padding-right: 20px;
			padding-bottom: 0px;
			padding-left: 20px;
			}
			
			
		</style>
	   
<div class="page-header">
	<center><h1>Страница поиска</h1>
	<h3><p> Тут можно перевести слово с английского на тайский </p></h3></center>
</div>
       
</head>
  
<body>

<form action="">

<div>
<label for="basic-url"><h3><p>Введите какое-нибудь слово:</p></h3></label>
		<div class="input-group-sm-2" style="padding-left: 0px;">
			<input type="text" name="word" class="form-control" id="basic-url" aria-describedby="basic-addon3">
		</div>
</div>

<div>
	<p></p>
	<p><input type="submit"></p>
</div>
</form>
 </body>
 </html>