<html>
<title>Англо-тайский словарь</title>    
	<head>
       
	   <meta charset="utf-8">
	   
<div class="page-header">
	<h2>Страница поиска</h2>
	<span><p> Тут можно перевести слово с английского на тайский </p></span>
</div>
       
</head>
  
<body>

<form action="">

<div>
<label for="basic-url"><p>Введите какое-нибудь слово:</p></label>
		<div class="input-group-sm-5" style="padding-left: 0px;">
			<input type="text" name="word" class="form-control" id="basic-url" aria-describedby="basic-addon3">
		</div>
</div>
<div>
	<p><input type="submit"></p>
</div>


</form>
 </body>
 </html>